<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{!!event ? event.title : ''}}</ion-title>
        <ion-buttons end>
          <button ion-button (click)="addFav(event)">
            <ion-icon *ngIf="isFav" name="star"></ion-icon>
            <ion-icon *ngIf="!isFav" name="star-outline"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!!event">  
    <img *ngIf="event.image" src={{event.image}} width="100%" height="auto">
    <img *ngIf="!event.image" src='assets/icon/comune.jpeg' width="100%" height="auto">
    <p class="pub">{{'Published'|translate}}<span class="bla">{{createEvent}}</span></p>
    <h2>{{event.title}}</h2>
    <span *ngIf="event.eventStart" class="gre">{{'EventDate'|translate}}<span class="bla">{{dateEvent | date: 'dd.MM.yyyy'}}</span>{{'Time'|translate}} <span class="bla">{{dateEvent | date: 'HH.mm'}}</span></span>
    <p *ngIf="event.address" class="gre">{{'Place'|translate}}<a href="{{url}}" target="_system" class="add">{{event.address}}</a></p>
    <p *ngIf="!event.address" class="gre">{{'Place'|translate}}<a href="{{url}}" target="_system" class="add">{{'AddressNotFound'|translate}}</a></p>

    <p class="des" [innerHTML]="event.description"></p>    
  </div>
</ion-content>