.pub{
    text-align: right;
    margin-right: 10px;
    color: #bdbcbc;
}

.bla{
    color: #000;
    padding-right: 5px;
}

.gre{
    margin: 5px;
    color: #bdbcbc;
}

h2{
    margin: 5px;
}

.des{
    margin-left: 5px;
    font-size: 17.5px;
}

.add{
    color: #fcc010;
    text-decoration: underline;
    font-weight: 500;
}


page-elementdetails {
    ion-icon {
        font-size: xx-large;
        vertical-align: middle;
    }

    .bar-button-default-md {
        font-size: x-large;
    }

}