<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <button ion-button searchToggle (click)='toggleSearch()' item-end>
                <ion-icon name="search"></ion-icon>
            </button>
            {{title}}        
        </ion-title>
    </ion-navbar>
    <ion-searchbar #searchBox *ngIf="searching" (ionInput)="search(searchBox.value)"></ion-searchbar>
</ion-header>


<ion-content>
    <div [ngSwitch]="view">
        <div *ngSwitchCase="'lista'">
            <ion-list>
                <ion-item *ngFor="let event of mainEvents" (click)="onSelect(event)">
                    <ion-thumbnail item-start>
                        <img src={{event.image}}>
                    </ion-thumbnail>
                    <h2>{{event.title}}</h2>
                    <p>{{event.description}}</p>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content 
                    loadingSpinner = "bubbles" 
                    loadingText = "Caricamento">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>    

        <div *ngSwitchCase="'mappa'">
            <ion-list>
                <h1>TESTO DI PROVA</h1>
                <h1>Mappa</h1>
            </ion-list>
        </div>

        <div *ngSwitchCase="'calendario'">
            <ion-list>
                <ion-item-divider>Oggi</ion-item-divider>
                    <ion-item>Testo</ion-item>
                    <ion-item>Di</ion-item>
                    <ion-item>Prova</ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="view">
            <ion-segment-button value="lista">
                Lista
            </ion-segment-button>
            <ion-segment-button value="mappa">
                Mappa
            </ion-segment-button>
            <ion-segment-button value="calendario">
                Calendario
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>