<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <button ion-button *ngIf="view=='calendario' && hasDate" (click)='removeDate()'>
                <!-- <ion-label>{{'Cancel'|translate}}</ion-label> -->
                <ion-icon name="close-circle"></ion-icon>
            </button>

            <button ion-button icon-right *ngIf="view=='calendario'" (click)="picker.open()"> 
                <ion-datetime #picker style="display:none" pickerFormat="DD.MM.YYYY" 
                               min='{{currDate}}' max='2050' [(ngModel)]="myDate" (ionChange)="scrolling(myDate)" doneText="{{'OK'|translate}}" cancelText="{{'Cancel'|translate}}">
                </ion-datetime>
                <ion-icon name="calendar"></ion-icon>
            </button>

            <button ion-button *ngIf="view=='lista' && isHome" (click)='toggleFilters()'>
                <ion-icon name="ios-funnel"></ion-icon>
            </button>

            <button ion-button *ngIf="view=='lista' && isSor" (click)='addFav(source)'>
                <ion-icon *ngIf="source.fav" name="star"></ion-icon>
                <ion-icon *ngIf="!source.fav" name="star-outline"></ion-icon>
            </button>

            <button ion-button *ngIf="view=='lista' && isTheme" (click)='addFav(theme)'>
                <ion-icon *ngIf="theme.fav" name="star"></ion-icon>
                <ion-icon *ngIf="!theme.fav" name="star-outline"></ion-icon>
            </button>

            <button ion-button *ngIf="view=='lista'" (click)='toggleSearch()'>
                <ion-icon *ngIf="!searching" name="search"></ion-icon>
                <ion-icon *ngIf="searching" name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
        
    </ion-navbar>
    <ion-searchbar #searchBox *ngIf="searching && view=='lista'" placeholder="{{'search_label'|translate}}" (search)="search(searchBox.value)"></ion-searchbar>
</ion-header>


<ion-content>

    <ion-refresher *ngIf="enabledRefresh" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <div [ngSwitch]="view" style="height: 100%; width: 100%">
        

        <div *ngSwitchCase="'lista'" style="height: 100%; width: 100%">

            <div *ngIf="mainEvents.length==0 && charged" class="error">
                <h4>{{'FilterNotFound'|translate}}</h4>
                <!-- <button ion-button (click)="goBack()">
                    OK
                </button> -->
            </div>

            <ion-list mode="md">
                <ion-item *ngFor="let event of mainEvents" (click)="onSelect(event)">
                    <ion-thumbnail item-start>
                        <img *ngIf="event.image" src={{event.imageThumb}}>
                        <img *ngIf="!event.image" src='assets/icon/comune.jpeg'>
                    </ion-thumbnail>
                    <span *ngIf="tagging" class="tags">{{event.tags}}</span>
                    <h2>{{event.title}}</h2>
                    <p class="grey">{{'Published'|translate}}<span class="crea">{{event.createdDate | date: 'dd/MM/yyyy'}}</span></p>
                    
                    <p *ngIf="event.eventStart" class="grey">{{'EventDate'|translate}}
                        <span class="crea">{{event.eventoDate | date: 'dd/MM/yyyy'}}</span>
                    </p>
                    <p *ngIf="event.eventTiming != null" class="grey">{{'Time'|translate}}
                        <span class="crea">{{event.eventTiming}}</span>
                    </p>
                    
                    <!--<p><span class="grey">{{'Time'|translate}} </span>{{ event.eventoDate | date: 'HH:mm'}} </p>-->
                </ion-item>
            </ion-list>
            <ion-infinite-scroll *ngIf="enabled" (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content >
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>

        <div *ngSwitchCase="'mappa'" style="height: 100%; width: 100%">
            <div leaflet style="height: 100%; width: 100%" [leafletOptions]="options" [leafletLayers]="layers" (leafletMapReady)="onMapReady($event)">
            </div>
        </div>

        <div *ngSwitchCase="'calendario'">
            <div *ngIf="mainEvents.length == 0 && charged" class="error">
                <h2>{{'FilterNotFound'|translate}}</h2>
                <button ion-button (click)="goBack()">
                    {{'OK'|translate}}
                </button>
            </div>
            <ion-list>
                <ion-item-divider *ngFor="let key of keys" color="date" mode="md">
                    {{key | date: 'dd/MM/yyyy'}}
                    <ion-item *ngFor="let event of calendarEvents[key]" (click)="onSelect(event)" mode="md" class="noborder">
                        <ion-thumbnail item-start>
                            <img *ngIf="event.image" src={{event.imageThumb}}>
                            <img *ngIf="!event.image" src='assets/icon/comune.jpeg'>
                        </ion-thumbnail>
                        <h2>{{event.title}}</h2>
                        <div>
                            <p><span class="grey">{{'Published'|translate}}</span> {{event.createdDate | date: 'dd/MM/yyyy'}}</p> <!--Could be cause of confusion for the user-->
                            <p><span class="grey">{{'Time'|translate}} </span>{{event.eventTiming}} </p>
                            
                        </div>

                    </ion-item>
                </ion-item-divider>
            </ion-list>
            <ion-infinite-scroll *ngIf="!hasDate" (ionInfinite)="doInfiniteCal($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'Loading'|translate}}">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
            <ion-infinite-scroll *ngIf="hasDate" (ionInfinite)="doInfiniteDate($event, myDate)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'Loading'|translate}}">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar no-border-top color="primary">
        <ion-segment [(ngModel)]="view" (ionChange)="switchSegment(view)" color="light" mode="md">
            <ion-segment-button value="lista">
                <ion-icon name="md-list"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="mappa">
                <ion-icon name="ios-map"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="calendario" (click)='loadCalendar()'>
                <ion-icon name="md-calendar"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>