.searchbar .searchbar-input{
    background-color: #fcc010;
}

.searchbar{
    background-color: #fcc010;
}

.tags{
    font-size: 12.5px;
    color: #4053a0;
}

p.pubb{
    color: #bdbcbc;
}

.crea{
    color: #000;
}

.grey{
    color: #bdbcbc;
}

.item-divider{
    text-align: center;
}

.alert-ios .alert-wrapper{
    border-radius: 0px;
}

.alert-ios .alert-head{
    color: #ffffff;
    background-color: #344294;
    text-transform: uppercase;
}

.alert-ios .alert-title{
    font-weight: normal;
}

.alert-ios .alert-message{
    color: #ffffff;
    background-color: #344294;
}

.alert-ios .alert-button:last-child{
    font-weight: normal;
    margin-bottom: 0px;
}

.alert-ios .alert-button{
    border-right: 0px;
    border-top: 0px;
    margin-bottom: 5px;
    background-color: #fcc010;
}

.alert-ios .alert-button-group{
    display: grid;
    padding: 5px;
}

.alert-md .alert-wrapper{
    max-width: 100%;
}

.alert-md .alert-head{
    color: #ffffff;
    background-color: #344294;
    text-transform: uppercase;
    text-align: center;
}

.alert-md .alert-title{
    font-weight: normal;
}

.alert-md .alert-message{
    color: #ffffff;
    background-color: #344294;
}

.alert-md .button-inner{
    display: block;
    text-align: center;
}

.alert-md .alert-button:last-child{
    margin-bottom: 0px;
}

.alert-md .alert-button{
    width: 100%;
    background-color: #fcc010;
    font-weight: normal;
    margin-bottom: 5px;
}

.alert-md .alert-button-group{
    display: block;
    padding: 5px;
}

.alert-wp .alert-wrapper{
    width: auto;
}

.alert-wp .alert-head{
    color: #ffffff;
    background-color: #344294;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 22px 10px;
}

.alert-wp .alert-message{
    color: #ffffff;
    background-color: #344294;
    padding: 5px 16px 21px;
}

.alert-wp .alert-button:last-child{
    margin-bottom: 0px;
}

.alert-wp .alert-button{
    width: 100%;
    color: #344294;
    background-color: #fcc010;
    font-weight: normal;
    margin-bottom: 5px;
}

.alert-wp .alert-button-group{
    display: block;
    background-color: #ffffff;
    padding: 5px;
}

.item-inner .badge{
    font-weight: normal;
    padding: 3px 6px;
}

.error{
    text-align: center;
}
.list .item .item-inner{
    border-bottom: 0px;
}

.list .item{
    border-bottom: 1px solid #dedede;
}

.list .noborder.item{
    border-bottom: 0px;
}

.segment .segment-button.segment-activated{
    border-bottom: 0px;
    border-top: 2px solid #ffffff;
}

.segment .segment-button{
    border-bottom: 0px;
}

.select-alert.alert-md .alert-button:last-child{
    margin-right: 0px;
}

.select-alert.alert-md .alert-button{
    margin-bottom: 0px;
}


.select-alert.alert-ios .alert-button{
    margin-right: 5px;
    margin-bottom: 0px;
}

.select-alert.alert-ios .alert-button-group{
    margin-right: 5px;
}

.select-alert.alert-wp .alert-button{
    margin-bottom: 0px;
    margin-right: 5px;
}

.select-alert.alert-wp .alert-button:last-child{
    margin-right: 0px;
}

.select-alert.alert-wp .alert-button:first-child:not(:only-child){
    margin-right: 5px;
}

.select-alert.alert-wp .alert-checkbox-group{
    background-color: #ffffff;
}