.searchbar .searchbar-input{
    background-color: #fcc010;
}

.searchbar{
    background-color: #fcc010;
}


p.grey{
    color: #bdbcbc;
}

.crea{
    color: #000;
}

.grey{
    color: #bdbcbc;
}

.item-divider{
    text-align: center;
}

.alert-ios .alert-wrapper{
    border-radius: 0px;
}

.alert-ios .alert-head{
    color: #ffffff;
    background-color: #344294;
    text-transform: uppercase;
}

.alert-ios .alert-title{
    font-weight: normal;
}

.alert-ios .alert-message{
    color: #ffffff;
    background-color: #344294;
}

.alert-ios .alert-button:last-child{
    font-weight: normal;
    margin-bottom: 0px;
}

.alert-ios .alert-button{
    border-right: 0px;
    border-top: 0px;
    margin-bottom: 5px;
    background-color: #fcc010;
}

.alert-ios .alert-button-group{
    display: grid;
    padding: 5px;
}

.alert-md .alert-wrapper{
    max-width: 80%;
}

.alert-md .alert-head{
    color: #ffffff;
    background-color: #344294;
    text-transform: uppercase;
    text-align: center;
}

.alert-md .alert-title{
    font-weight: normal;
}

.alert-md .alert-message{
    color: #ffffff;
    background-color: #344294;
}

.alert-md .button-inner{
    display: block;
    text-align: center;
}

.alert-md .alert-button:last-child{
    margin-bottom: 0px;
}

.alert-md .alert-button{
    width: 100%;
    background-color: #fcc010;
    font-weight: normal;
    margin-bottom: 5px;
}

.alert-md .alert-button-group{
    display: block;
    padding: 5px;
}

.alert-wp .alert-wrapper{
    width: auto;
}

.alert-wp .alert-head{
    color: #ffffff;
    background-color: #344294;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 22px 10px;
}

.alert-wp .alert-message{
    color: #ffffff;
    background-color: #344294;
    padding: 5px 16px 21px;
}

.alert-wp .alert-button:last-child{
    margin-bottom: 0px;
}

.alert-wp .alert-button{
    width: 100%;
    color: #344294;
    background-color: #fcc010;
    font-weight: normal;
    margin-bottom: 5px;
}

.alert-wp .alert-button-group{
    display: block;
    background-color: #ffffff;
    padding: 5px;
}

.item-inner .badge{
    font-weight: normal;
    padding: 3px 6px;
}

.error{
    text-align: center;
}
.list .item .item-inner{
    border-bottom: 0px;
}

.list .item{
    border-bottom: 1px solid #dedede;
}

.list .noborder.item{
    border-bottom: 0px;
}

.segment .segment-button.segment-activated{
    border-bottom: 0px;
    border-top: 2px solid #ffffff;
}

.segment .segment-button{
    border-bottom: 0px;
}

.select-alert.alert-md .alert-button:last-child{
    margin-right: 0px;
}

.select-alert.alert-md .alert-button{
    margin-bottom: 0px;
}


.select-alert.alert-ios .alert-button{
    margin-right: 5px;
    margin-bottom: 0px;
}

.select-alert.alert-ios .alert-button-group{
    margin-right: 5px;
}

.select-alert.alert-wp .alert-button{
    margin-bottom: 0px;
    margin-right: 5px;
}

.select-alert.alert-wp .alert-button:last-child{
    margin-right: 0px;
}

.select-alert.alert-wp .alert-button:first-child:not(:only-child){
    margin-right: 5px;
}

.select-alert.alert-wp .alert-checkbox-group{
    background-color: #ffffff;
}

.fav.badge{
    color: #344294;
    background-color: #ffffff;
    border: 1px solid #344294;
    padding: 1px 2px;
}

// FIX FOR REMOVAL OF GREY DOT ON TOP LEFT OF PAGE.
.scroll-content{
    overflow-y:auto;
}

.credits_title {
    text-align: center;
    color: #4053a0;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.credits_row.version .col {
    font-size: 12px;
    line-height: 12px;
}

.credits_row.version {
    color: #aaa;
}

.credits_version {
    text-align: center;
}

.col{
    text-align: center;
}

.col.cred{
    padding: 0px 10px 0px;
}

.row.credits_row{
    padding: 0px 10px 0px;
}

page-home {
    .bar-button-default-md {
        font-size: x-large;
    }
    
}

modal-page { // only for modal page.
    .item {
        background-color: orange;
        color: white;
        font-size: medium;
    }
}
