<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}        
        </ion-title>
        <ion-buttons end>
            <button ion-button *ngIf="view=='lista' && isHome" (click)='toggleFilters()'>
                <ion-icon name="funnel"></ion-icon>
            </button>
            <button ion-button *ngIf="view=='lista'" (click)='toggleSearch()'>
                <ion-icon *ngIf="!searching" name="search"></ion-icon>
                <ion-icon *ngIf="searching" name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-searchbar #searchBox *ngIf="searching" (ionInput)="search(searchBox.value)"></ion-searchbar>
</ion-header>


<ion-content>
    <div [ngSwitch]="view" style="height: 100%; width: 100%">
        <div *ngSwitchCase="'lista'" style="height: 100%; width: 100%">
            <ion-list mode="md">
                <ion-item *ngFor="let event of mainEvents" (click)="onSelect(event)">
                    <ion-thumbnail item-start>
                        <img *ngIf="event.image" src={{event.image}}>
                        <img *ngIf="!event.image" src='assets/icon/comune.jpeg'>
                    </ion-thumbnail>
                    <span *ngIf="tagging" item-end class="tags">{{event.tags}}</span>
                    <h2>{{event.title}}</h2>
                    <p class="pubb">Pubblicato il: <span class="crea">{{event.createdDate | date: 'dd/MM/yyyy'}}</span></p>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content 
                    loadingSpinner = "bubbles" 
                    loadingText = "Caricamento">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>    

        <div *ngSwitchCase="'mappa'" style="height: 100%; width: 100%">
            <div leaflet style="height: 100%; width: 100%"
                [leafletOptions]="options"
                [leafletLayers]="layers"
                (leafletMapReady)="onMapReady($event)" >
            </div>
        </div>

        <div *ngSwitchCase="'calendario'">
            <ion-list>
                <ion-item-divider *ngFor="let key of calendarEvents | ObjNgFor" color="date" mode="md">
                    {{key}}
                    <ion-item *ngFor="let event of calendarEvents[key]" (click)="onSelect(event)" mode="md">
                        <ion-thumbnail item-start>
                            <img *ngIf="event.image" src={{event.image}}>
                            <img *ngIf="!event.image" src='assets/icon/comune.jpeg'>
                        </ion-thumbnail>
                        <h2>{{event.title}}</h2>
                        <span class="grey">Ore:</span> {{event.eventoDate | date: 'HH.mm'}}
                    </ion-item>
                </ion-item-divider>  
            </ion-list>
            <ion-infinite-scroll (ionInfinite)="doInfiniteCal($event)">
                <ion-infinite-scroll-content 
                    loadingSpinner = "bubbles" 
                    loadingText = "Caricamento">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar no-border-top color="primary">
        <ion-segment [(ngModel)]="view" (ionChange)="switchSegment(view)"  color="light" mode="md">
            <ion-segment-button value="lista">
                Lista
            </ion-segment-button>
            <ion-segment-button value="mappa">
                Mappa
            </ion-segment-button>
            <ion-segment-button value="calendario" (click)='loadCalendar()'>
                Calendario
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>