<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'Sources' | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-list>
        <ion-item *ngFor="let source of sourceType" (click)="onSelect(source)">
            {{source.name}} 
            <ion-badge item-end class="fav">
                <button ion-button (click)="addFav(source)">
                    <ion-icon *ngIf="source.fav" name="star"></ion-icon>
                    <ion-icon *ngIf="!source.fav" name="star-outline"></ion-icon>
                </button>
            </ion-badge>
            <ion-badge item-end>
                {{source.count}}
            </ion-badge>
        </ion-item>  
    </ion-list>
</ion-content>