<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'Sources' | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item *ngFor="let source of sourceType|orderBy:'name'" (click)="onSelect(source)">
            {{source.name}} 
            <ion-badge item-end class="fav">
                <ion-icon *ngIf="source.fav" name="star"></ion-icon>
                <ion-icon *ngIf="!source.fav" name="star-outline"></ion-icon>
            </ion-badge>
            <ion-badge item-end>
                {{source.count}}
            </ion-badge>
        </ion-item>  
    </ion-list>
</ion-content>