<ion-header style="background-color:#313b91">
    <h3 style="text-align:center; color: white">{{title}}</h3>
</ion-header>


<ion-content padding>
  <ion-buttons>
    <button ion-button outline small (click) = "all()">{{ 'select_all' | translate }}</button>
    <button ion-button outline small (click) = "none()">{{ 'unselect_all' | translate }}</button>
    <button ion-button outline small (click) = "invert()">{{ 'invert_selection' | translate }}</button>
  </ion-buttons>

  <ion-content *ngIf = "checked == 0" scroll="true" style="width:auto; height:70%"> 
    <ion-list *ngFor = "let element of List |orderBy: 'name'">
      <ion-item>
        <ion-label>{{element.name}}</ion-label>
        <ion-checkbox (ionChange) = "change(element.name)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-content *ngIf = "checked == 1" scroll="true" style="width:auto; height:70%"> 
    <ion-list *ngFor = "let element of List |orderBy: 'name'">
      <ion-item>
        <ion-label>{{element.name}}</ion-label>
        <ion-checkbox checked = "true" (ionChange) = "change(element.name)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-content *ngIf = "checked == 2" scroll="true" style="width:auto; height:70%"> 
    <ion-list *ngFor = "let element of List |orderBy: 'name'">
      <ion-item>
        <ion-label>{{element.name}}</ion-label>
        <ion-checkbox *ngIf = "contains(element.name)" checked = "true" (ionChange) = "change(element.name)"></ion-checkbox>
        <ion-checkbox *ngIf = "!contains(element.name)" (ionChange) = "change(element.name)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-buttons>
    <button ion-button (click) = "back()">{{ 'Cancel' | translate }}</button>
    <button ion-button color = "sbar" (click) = "ok()">{{ 'OK' | translate }}</button>
  </ion-buttons>
</ion-content>
