<ion-header style="background-color:#313b91">
    <h3 style="text-align:center; color: white">{{title}}</h3>
</ion-header>


<ion-content>
  <ion-buttons *ngIf = "!checkOrRadio">
    <ion-row>
      <ion-col><button ion-button outline block small (click) = "all()">{{ 'select_all' | translate }}</button></ion-col>
      <ion-col><button ion-button outline block small (click) = "none()">{{ 'unselect_all' | translate }}</button></ion-col>
      <ion-col><button ion-button outline block small (click) = "invert()">{{ 'invert_selection' | translate }}</button></ion-col>
    </ion-row>
  </ion-buttons>

  <ion-content *ngIf = "!checkOrRadio" scroll="true" style="width:auto; height: 90%"> 
    <ion-list>
      <ion-item *ngFor = "let element of List |orderBy: 'name'">
        <ion-label text-wrap text-left>{{element.name}}</ion-label>
        <ion-checkbox *ngIf = "contains(element.name)" checked = "true" (ionChange) = "change(element.name)"></ion-checkbox>
        <ion-checkbox *ngIf = "!contains(element.name)" (ionChange) = "change(element.name)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-content *ngIf = "checkOrRadio" scrollY scroll="true" style="width:auto; height:100%">
    <ion-list radio-group>
      <ion-item *ngFor = "let element of List |orderBy: 'name'">
        <ion-label>{{element.name}}</ion-label>
        <ion-radio *ngIf = "coordinates == element.coordinates" checked = "true" (ionSelect) = "radio(element.coordinates)"></ion-radio>
        <ion-radio *ngIf = "!(coordinates == element.coordinates)" (ionSelect) = "radio(element.coordinates)"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-content>

<ion-footer>
  <ion-buttons>
    <ion-row>
      <ion-col><button ion-button block (click) = "back()">{{ 'Cancel' | translate }}</button></ion-col>
      <ion-col><button ion-button block color = "sbar" (click) = "ok()">{{ 'OK' | translate }}</button></ion-col>
    </ion-row>
  </ion-buttons>
</ion-footer>