.alert-checkbox-group .button-inner{
    display: flex;
}

.select-alert .alert-button-group{
    display: flex;
    flex-wrap: initial;
}

.select-alert .alert-checkbox-label{
    text-align: start;
}

.bar-buttons{
    text-align: center;
}

.searchbar-md .searchbar-input::-webkit-input-placeholder {
    text-indent: 0;
    color: white;
  }