<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{'Filtercontent'|translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- <ion-list>
        <ion-item>
            <ion-label>
                {{'Themes'|translate}}
            </ion-label>
                <ion-select multiple="true" [(ngModel)]="temChose" [selectOptions] = "selectOptions">
                    <ion-option *ngFor="let theme of temList |orderBy:'name'" value={{theme.name}}>
                        {{theme.name}}
                    </ion-option>
                </ion-select>

        </ion-item>
        
        <ion-item>
            <ion-label>{{'Sources'|translate}}</ion-label>
                <ion-select multiple="true" [(ngModel)]="sorChose">
                    <ion-option *ngFor="let source of sorList |orderBy:'name'" value={{source.name}}>{{source.name}}</ion-option>
                </ion-select>
        </ion-item>
    </ion-list> -->

    <ion-card>
        <button ion-button clear class="specific-button" block (click) = "modal(1)">
            <span class="button-inner">
                {{'Themes'|translate}}
            </span>
            <ion-icon item-right name = "arrow-down"></ion-icon>
        </button>
    </ion-card> 
    <ion-card>
        <button ion-button clear class="specific-button" block (click) = "modal(0)">
            <span class="button-inner">
                {{'Sources'|translate}}
            </span>
            <ion-icon item-right name = "arrow-down"></ion-icon>
        </button>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-label style="text-transform: uppercase; color: grey; font-size: 83%; font-weight:bold">
                {{'Distance'|translate}} {{'from_position' | translate}}<h2 *ngIf = "dist_active == 0" style="text-transform: lowercase; color: grey">{{distance}} km</h2>
            </ion-label>
            <ion-toggle [disabled]="isUnactive1" [(ngModel)] = "isToggle1" (ionChange)="dist(0)"></ion-toggle>
        </ion-item>
        <ion-range *ngIf = "dist_active == 0" [(ngModel)]="value" min="0" max="4" step="1" snaps="true" (ionChange)="change()">
            <div range-left>5 km</div>
            <div range-right>100 km</div>
        </ion-range>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-label style="text-transform: uppercase; color: grey; font-size: 83%; font-weight:bold">
                    5 km {{'from_district'|translate}}
            </ion-label>
            <ion-toggle [disabled]="isUnactive2" [(ngModel)] = "isToggle2" (ionChange)="dist(1)"></ion-toggle>
        </ion-item>
        <button *ngIf ="dist_active == 1" ion-button clear class="specific-button" block (click) = "modal(2)">
            <span class="button-inner">
                {{'choose' | translate}}
            </span>
            <ion-icon item-right name = "arrow-down"></ion-icon>
        </button>
    </ion-card>
    <div>
        <ion-buttons>
            <ion-row>
                <ion-col><button ion-button block (click)="filterCancel()">{{'FilterCancel'|translate}}</button></ion-col>
                <ion-col><button ion-button block color="sbar" (click)="filter()">{{'Filter'|translate}}</button></ion-col>
            </ion-row>
        </ion-buttons>
    </div>
</ion-content>