<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{title | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-divider color="date" (click)="popEvent()">
            {{'FavoriteEvents'|translate}}<ion-icon *ngIf="!eventPop" name="md-arrow-dropup"></ion-icon> <ion-icon *ngIf="eventPop" name="md-arrow-dropdown"></ion-icon>
            <ion-item-sliding *ngFor="let event of favList">
                <ion-item *ngIf="eventPop" class="noborder" (click)="onSelect(event)">
                    <ion-thumbnail item-start>
                        <img *ngIf="event.image" src={{event.image}}>
                        <img *ngIf="!event.image" src='assets/icon/comune.jpeg'>
                    </ion-thumbnail>
                    <h2>{{event.title}}</h2>
                    <p class="pubb">{{'Published'|translate}}<span class="crea">{{event.createdDate | date: 'dd/MM/yyyy'}}</span></p>
                </ion-item>
            </ion-item-sliding>
        </ion-item-divider>

        <ion-item-divider color="date" (click)="popSource()">
            {{'FavoriteSources'|translate}}<ion-icon *ngIf="!sourcePop" name="md-arrow-dropup"></ion-icon> <ion-icon *ngIf="sourcePop" name="md-arrow-dropdown"></ion-icon>
            <ion-item-sliding *ngFor="let source of sourceFavList">
                <ion-item *ngIf="sourcePop" class="noborder" (click)="onSelectSource(source)">
                    {{source.name}} 
                    <ion-badge item-end>
                        {{source.count}}
                    </ion-badge>
                </ion-item>
            </ion-item-sliding>
        </ion-item-divider>
            
        <ion-item-divider color="date" (click)="popTheme()">
            {{'FavoriteThemes'|translate}}<ion-icon *ngIf="!themePop" name="md-arrow-dropup"></ion-icon> <ion-icon *ngIf="themePop" name="md-arrow-dropdown"></ion-icon>
            <ion-item-sliding  *ngFor="let theme of themesFavList">
                <ion-item *ngIf="themePop" class="noborder" (click)="onSelectTheme(theme)">
                    {{theme.name}} 
                    <ion-badge item-end>
                        {{theme.count}}
                    </ion-badge>
                </ion-item>
            </ion-item-sliding>
        </ion-item-divider>
        
    </ion-list>
</ion-content>